<h1>time slots</h1>

<% @time_slots.each do |ts| %>
  <div>
    id: <%= ts.id %>
    organization_service_id: <%= ts.organization_service_id %>
    <ul>
      <li><%= ts.start_time%></li>
      <li><%= ts.end_time%></li>
      <%= link_to 'edit', edit_time_slot_path(ts.id) %> <%= link_to "delete", ts, method: :delete, data: { confirm: "Are you sure?" }  %>
    </ul>
  </div>
<% end %>