<h1>New time slots</h1>

<%= form_with model: [@organization_service, @time_slot] do |f| %>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time, minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time, minute_step: 5 %>
  </div>

  <div class="field">
    <%= f.label :time_slot_duration %><br />
    <%= f.number_field :time_slot_duration , min: 5, max: 240, step: 5  %> minutes
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>