<p><%= @user.id %></p>
<p><%= @user.role %></p>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.notifications %></p>
<p><%= @user.created_at %></p>

<%= link_to 'edit', edit_user_registration_path %>