<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your reservation starts in <%= @user.notifications %>.</p>
    <p>
    Reservation details<br>
    --------------------------
    </p>
    <p>Reservation id: <%= @reservation.id %></p>
    <p>Organization: <%= @reservation.time_slot.organization_service.organization.name %></p>
    <p>Service: <%= @reservation.time_slot.organization_service.service.name %></p>
    <p>start time: <%= @reservation.time_slot.start_time %></p>
    <p>end time: <%= @reservation.time_slot.end_time %></p>
    <p>
    ----------
    </p>
  </body>
</html>