<h1>Edit "<%= @organization.name %>"</h1>

<%= form_with model: @organization do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: 'true' %>
  </div>

  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.text_field :user_id %>
  </div>

  <% unless @organization.services.empty? %>
    <p>Services:</d>
    <% @organization.organization_services.each do |organization_service| %>
      <div>
        <%= organization_service.service.name %>
        <%= link_to 'edit service', edit_service_path(organization_service.service.id) %>
        <%= link_to 'add time slots', new_organization_service_time_slot_path(organization_service.id) %>
        <%= link_to 'delete', organization_organization_service_path(organization_service.id), method: :delete, data: { confirm: "Are you sure?" } %>

        <div style="padding: 10px;">
          <p>Service workers:</p>
          <% organization_service.workers.each do |worker| %>
            <div>
              <%= "#{worker.last_name} #{worker.first_name}: #{worker.qualification}" %>
              <%= link_to 'edit', edit_organization_service_worker_path(organization_service.id, worker.id) %>
              <%= link_to 'delete', organization_service_worker_path(organization_service.id, worker.id), method: :delete, data: { confirm: "Are you sure?" }  %>
            </div>
          <% end %>
          <%= link_to 'add worker', new_organization_service_worker_path(organization_service.id) %>
        </div>
        
      </div>
    <% end %>
  <% end %>
  <%= link_to 'add service', new_organization_organization_service_path(@organization) %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>